@tailwind base;
@tailwind components;
@tailwind utilities;


section.hero {
  @apply grid;
  grid-template-columns: .4fr .6fr;

  @apply max-md:grid-cols-1;
}

select,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  @apply block w-full mb-2 rounded-xl;
  @apply border p-2 border-gray-300 bg-gray-100;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="tel"]:disabled,
input[type="password"]:disabled {
  @apply bg-gray-300 border-0 cursor-not-allowed text-gray-500;
}

label {
  @apply text-gray-500 text-sm leading-tight;
}

lable+input {
  margin-top: -2px;
}

button,
.button {
  @apply flex w-full justify-center gap-2 text-gray-700 font-semibold;
  @apply border border-gray-300 rounded-xl px-6 py-2;
}

button[type="submit"],
button.submit,
button.primary {
  @apply border-primary bg-primary text-white;
}

button[type="submit"]:disabled,
button.submit:disabled {
  @apply cursor-not-allowed bg-red-400;
}

div.tabs>* {
  @apply bg-gray-300 text-gray-700 rounded-xl py-2 px-4;
}

div.tabs>*.active {
  @apply bg-primary text-white;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}